.page-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: var(--desktop-max-width);
    align-items: center;
    background-color: var(--content-bg-color);
    border: var(--border-style) var(--border-width) var(--border-color);
    border-radius: var(--border-radius-base);
    box-shadow: var(--box-shadow-base);
    margin-bottom: 40px;
}
.page-title{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.page-title h1{
    font-size: var(--font-size-xlarge);
    color: var(--heading-color);
}
.page-content{
    text-align: justify; padding: 20px; margin-bottom: 20px; width: 100%;
}
.page-text {
     line-height: 30px;
 }
.page-text h1, .page-text h2, .page-text h3, .page-text h4, .page-text h5, .page-text h6, .page-text b {
    margin-top: 20px;
    margin-bottom: 10px;
}
.page-text ul{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.page-text ul li{
    list-style: disc;
    margin-inline-start: 15px
}
.page-container .page-image{
    text-align: center;
    margin-bottom: 20px;
    margin-inline-end: 20px;
    float:inline-start;
    max-width: 50%;
    overflow-y: hidden;
}
.page-container .page-image img{
    max-width: 100%;
}
.page-container .page-image .thumbnail-container{
    display: flex;
    justify-content: start;
    gap: 10px;
    overflow-x: auto;
    margin: 10px 0;

}
.page-container .page-image .thumbnail{
    width: auto;
    height: 75px;
    object-fit: cover;
    box-shadow: 0 0 5px 0 #00000020;
    border: solid 1px var(--accent-color);
    border-radius: 5px;
    cursor: pointer;
}
.page-container .page-image figcaption{
    text-align: center;
    font-size: var(--font-size-small);
    color: var(--accent-color);
    padding: 10px;
    display: none;
}

@media screen and (max-width: 960px) {
    .page-container {
        width: 100%;
        padding: 0 10px;
        max-width: unset;
        display: block;
    }
    .page-content {
        padding: 10px;
    }
    .page-container iframe{
        width: 100%;
        height: auto;
    }
    .page-title{
        margin-top: 20px;
    }
}