.idea/
.idx/
*.log
*.ffs_db
sync.ffs_db
/desktop.ini
/web.config
/.htaccess
web.config
composer.lock

/App/Config/Domain.php
/App/Config/Sql.php
/App/Config/Key.php
.env
/Public/Json/
/Public/Image/Banner
/Public/Image/Cache
/public/Image/favicon
/public/Image/logo
/public/Image/menu
/public/Image/Offer
/public/Image/Page
/Public/Image/Product
/Public/Image/Receipt
/public/Image/Slayt
/Public/Image/Product/
/vendor/
robots.txt
*.min.min.js
*.min.min.css
.vscode/
.vscode
/Public/CSS/Page/CustomCSS/

Public/CSS/index-1.css
