.member-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    clear: both;
    padding: 0 5%;
    padding-top: 20px;
    gap: 20px;
}
/* h1 tek satır olsun, sonraki divler ondan sonra başlasın */
.member-container h1 {
    margin-bottom: var(--spacing-lg);
    clear: both;
    width: 100%;display: block;
}
.member-container p {
    margin-bottom: var(--spacing-md);
    font-size: var(--font-size-small);
}
.member-container form {
    width: 100%;
    padding: var(--spacing-lg);
    border: var(--border-style) var(--border-width) var(--border-color);
    border-radius: var(--border-radius-base);
}
.mamber-container form a {
    display: block;
    margin-bottom: var(--spacing-lg);
}

.address-card-container {
    width: 50%;
}

.member-container .address-card {
    width: 48%;
    padding: 20px;
    border: var(--border-style) var(--border-width) var(--border-color);
    border-radius: var(--card-border-radius);
    float: inline-start;
    display: inline-block;
    margin-inline-end: 2%;
    height: 220px;
    margin-bottom: var(--spacing-lg);
}
.address-card h2 {
    margin-bottom: var(--spacing-md);
}
.address-card a {
    display: block;
    margin-top: var(--spacing-md);
    font-size: var(--font-size-small);
    float: right;
    border: var(--border-style) var(--border-width) var(--border-color);
}

.member-address-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}
.member-address-form-container {
    width: 100%;
}
.form-group {
    margin-bottom: var(--spacing-lg);
}
.member-address-form-container .form-group, .address-card .form-group{
    width: 50%;
    float: left;
    padding: 0 var(--spacing-md);
}
.form-group label {
    display: block;
    margin-bottom: var(--spacing-xs);
}
.form-group input {
    width: 100%;
    padding: var(--input-padding);
    border: var(--border-style) var(--border-width) var(--input-border-color);
    border-radius: var(--input-border-radius);
    box-sizing: border-box;
    font-size: var(--font-size-normal);
    color: var(--input-text-color);
    background-color: var(--input-bg-color);

}
.form-group input:focus {
    outline: none;
    border-color: var(--input-focus-color);
}
.form-group select {
    width: 100%;
    padding: var(--input-padding);
    border: var(--border-style) var(--border-width) var(--input-border-color);
    border-radius: var(--input-border-radius);
    box-sizing: border-box;
    font-size: var(--font-size-normal);
    color: var(--input-text-color);
    background-color: var(--input-bg-color);
}
.form-group small {
    display: block;
    margin-top: var(--spacing-xs);
}
.btn {
    padding: var(--btn-padding-y) var(--btn-padding-x);
    border: none;
    border-radius: var(--btn-border-radius);
    cursor: pointer;
}
.btn-primary {
    background-color: #0056b3;
    color: #fff;
}
.btn-primary:hover {
    background-color: #003366;
}
.btn-primary:focus {
    outline: none;
}
.btn-primary:active {
    transform: scale(0.95);
}
.btn-primary:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}
.btn-primary:disabled:hover {
    background-color: #ccc;
}
.btn-primary:disabled:focus {
    outline: none;
}
.address-card a.btn-warning {
    background-color: #f90;
    color: #fff;float: left;border:none
}

select#addressCity, select#addressCounty, select#addressArea, select#addressNeighborhood {
    display: none;
}