.homePageMainContentContainer {
    width: 100%;
    padding: var(--spacing-md);
    box-shadow: var(--box-shadow-base);
    background: var(--content-bg-color);
    max-width: var(--desktop-max-width);
    margin: 0 auto;
    margin-top: var(--spacing-lg);
}
.homePageMainContentText{
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-lg);
}
.homePageMainContentText figure{
    margin: 0;
    flex: 0 0 auto;
}
.homePageContentText{
    flex: 1
}
.homePageContentText p{
    line-height: 1.8;
    padding: var(--spacing-md) 0;
}