.breadcrumbContainer {
    width: 100%;
    clear: both;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    padding: var(--spacing-lg) 0;
}

.breadcrumb {
    border: 0;padding: 0; margin: 0 auto;
    width: 100%;
    max-width: var(--desktop-max-width);
}

.breadcrumb .breadcrumb-item {
    display: inline-block;
    margin-inline-end: var(--spacing-xs);
}

.breadcrumb .breadcrumb-item::after {
    content: ">";
    margin-inline-start: var(--spacing-xs);
    color: var(--accent-color);
    font-size: var(--font-size-small);
}

.breadcrumb .breadcrumb-item:last-child::after {
    content: "";
}

.breadcrumb .breadcrumb-item a {
    color: var(--accent-color);
    font-size: var(--font-size-small);
    text-decoration: none;
}

.breadcrumb .breadcrumb-item a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.categoryMainContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width: var(--desktop-max-width);
    justify-content: center;
    padding: var(--spacing-md);
    margin: var(--spacing-xs) auto;
}


.categoryLeftAside {
    width: 20%;
    float: inline-start;
    min-width: 300px;
}
.categoryLeftAsideContainer {
    width: 100%;
    padding: var(--spacing-xs) var(--spacing-md);
}
.categoryLeftAsideTitle {
    width: 100%;
    padding: var(--spacing-xs) var(--spacing-md);
    border-bottom: var(--border-style) var(--border-width) var(--border-color);
    height: var(--spacing-lg);
}
.categoryLeftAsideTitle h2 {
    font-size: var(--font-size-large);
    font-weight: bold;
    color: var(--heading-color);
}

.categoryLeftAsideFilterTitle h2{
    line-height: 30px;
    font-size: var(--font-size-normal);
    color: var(--primary-color);
}

.categoryLeftAsideContent {
    width: 100%;
    padding: var(--spacing-xs) var(--spacing-md);
}
.categoryLeftAsideContent h3 {
    font-size: var(--font-size-normal);
    font-weight: bolder;
    padding: var(--spacing-xs) 0;
}
.categoryLeftAsideMenu {
    list-style: none;
    display: inline-block;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    padding: var(--spacing-xs) 0;
    margin-top: var(--spacing-xs);
}
.categoryLeftAsideMenu li {
    margin-bottom: var(--spacing-xs);
}
.categoryLeftAsideMenu a {
    text-decoration: none;
    color: var(--link-color);
    font-size: var(--font-size-small);
}
.categoryLeftAsideMenu a:hover {
    text-decoration: underline;
}
li.clear-filter {
    width: 50%;
    display: block;
    float: left;
    margin-bottom: var(--spacing-sm);
}
li.clear-filter a {
    position: relative;
    display: inline-block;
    padding-inline-end: var(--spacing-lg);
}

li.clear-filter a{color:var(--secondary-color)}
li.clear-filter a::after {
    content: "X";
    position: absolute;
    top: -5px;
    right: var(--spacing-sm);
    font-size: var(--font-size-small);
    color: var(--btn-primary-text-color);
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-base);
    background-color: var(--form-error-color);
}

.categoryProductContent {
    width: 100%;
    float: inline-end;
    border: var(--border-style) var(--border-width) var(--border-color);
    border-radius: var(--border-radius-base);
    min-width: 80%;
    background-color: var(--content-bg-color);
}
.categoryMainContentContainer {
    width: 100%;
    padding: var(--spacing-md);
}
.categoryMainContentTitle {
    width: 100%;
    padding: var(--spacing-md);
    margin-bottom: var(--spacing-md);
}
.categoryMainContentTitle h1 {
    font-size: var(--font-size-xlarge);
    font-weight: bold;
    color: var(--heading-color);
}
.categoryMainContentContent {
    width: 100%;
}
.categoryMainContentContentContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 2%;
    padding: var(--spacing-md);
}
.categoryMainContentContentContainer h2{
    /* başlık %100 genişliğinde görünmeli, ürünler bir sonraki satırdan başlamalı */
    width: 100%;
    padding: var(--spacing-lg) 0;
    font-size: var(--font-size-large);
    color: var(--heading-color);
}

.categoryMainContentText{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.categoryMainContentText figure{
    margin: 0;
    flex: 0 0 auto;
    float: inline-start;
    margin-inline-end: 20px;
}
.categoryContentText{
    flex: 1
}
.categoryContentText p{
    padding: var(--spacing-sm) 0;
}

.product-box{
    height: 430px;
    margin-bottom: var(--spacing-md);
    box-shadow: var(--box-shadow-base);
    background: var(--product-box-background-color);
    position: relative;
    transition: transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
    border-color: var(--product-box-border-color);
    padding: var(--product-box-padding);
    border-radius: var(--product-box-border-radius);
    width: var(--category-product-box-width);
}

.product-box:hover {
    transform: translateY(-10px); /* Mouse üzerine gelindiğinde kutuyu yukarı doğru hareket ettirir */
    box-shadow: var(--box-shadow-lg); /* Gölgeyi artırır */
    border-color: var(--product-box-hover-border-color);
}
.product-box a{
    text-decoration: none;
    color: var(--add-to-cart-bg-color);
}

.product-box .product-image-container{
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
}
.product-box .product-image-container .thumbnail-container{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 52px;
}
.product-box .product-image-container .thumbnail{
    width: 50px;
    height: 50px;
    object-fit: none;
    margin-bottom: var(--spacing-xs);
    border-radius: var(--border-radius-base);
    border: var(--border-style) var(--border-width) var(--border-color);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.product-box .product-image-container img{
    aspect-ratio: var(--product-image-aspect-ratio);
    width: 100%;
    height: auto;
    object-fit: cover;
}


.product-box h3.product-name {
    font-size: var(--font-size-normal);
    padding: var(--spacing-xs) 0;
    color: var(--product-title-color);
}

.product-box .product-price-container{
    text-align: right;font-weight: bold;margin:5px 0;padding: 5px;
    color:var(--product-price-color);
}

.product-box .product-price-container span{
    text-decoration: line-through;margin-inline-end: 10px;font-weight: normal;
    color: var(--product-old-price-color);
}

.product-box .product-image-overlay-text{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 5px;
    color: #fff;
    font-weight: normal;
    border-radius: 5px;
    background-color: #000;
    font-size: 13px;

}

.product-box .product-image-overlay-text::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.product-box .product-image-overlay-text.discount::after{
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-color: #000 transparent transparent transparent;
}

.product-box .product-image-overlay-text.new::after{
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-color: red transparent transparent transparent;
}
.product-box .product-image-overlay-text.sameDayCargo::after{
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-color: #0c84e4 transparent transparent transparent;
}

.product-box .product-image-overlay-text.freeCargo::after{
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-color: #0a59f8 transparent transparent transparent;
}

.product-box .discount{
    top:40px;background: var(--product-discount-badge-color); color: #fff;
}
.product-box .new{background: red;}
.product-box .sameDayCargo{top:inherit; bottom: 10px; right:inherit;left:0; background: #0c84e4}
.product-box .freeCargo{top:inherit; bottom:10px; background: #0a59f8}
.product-box .product-category {
    position: absolute;
    bottom:5px;
    left: 10px;
}
.product-box .product-category>a{
    color: var(--category-product-box-link-color);
    font-size: var(--font-size-small);
}

.product-image-container .product-image {
    position: absolute; /* Resimleri üst üste yerleştirir */
    top: 0;
    left: 0;
    transition: opacity .5s ease-in-out; /* Opacity değişikliğini animasyonlu hale getirir */
}
.product-image-container .product-image.block {
    opacity: 1; /* İlk resim her zaman görünür */
}
.product-image-container .product-image.none {
    opacity: 0; /* İkinci resim başlangıçta görünmez */
}
.product-image-container:hover .product-image.block {
    opacity: 0; /* Mouse üzerine gelindiğinde ilk resim görünmez olur */
}
.product-image-container:hover .product-image.none {
    opacity: 1; /* Mouse üzerine gelindiğinde ikinci resim görünür olur */
}

@media screen and (max-width: 960px) {
    .categoryMainContent {
        flex-direction: column-reverse;width: 100%;
    }
    .categoryLeftAside {
        width: 100%;
    }
    .categoryProductContent {
        width: 100%;
    }
    .categoryMainContentContainer {
        width: 100%;
    }
    .categoryMainContentContent{
        padding: 0;
    }
    .categoryMainContentContentContainer {
        width: 100%;gap: 5px;
    }
    .product-box {
        width: 49%;margin: 0;height: 310px;
    }
    .product-box .product-image-container{
        height: 180px;
    }
    .product-box h3.product-name {
        font-size: 12px;font-weight: 500;
    }
    .product-box .product-price-container span,.product-box .product-price-container{
        font-size: 12px;
    }
    .product-box .product-category a{
        font-size: 11px;color: #666;
    }
}
