.page-file-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center; justify-content: flex-start;align-items: flex-start; gap: 10px;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 30px;
    margin-top:30px;
}
.page-file-box{
    box-sizing: border-box;
    box-shadow: 0 0 0 1px #ccc;
    padding: 5px; min-width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.page-file-box img {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    -webkit-transition: -webkit-box-shadow 0.15s ease-out;
    -moz-transition: -moz-box-shadow 0.15s ease-out;
    -o-transition: -o-box-shadow 0.15s ease-out;
    transition: box-shadow 0.15s ease-out;
    margin-bottom: 5px;
}
.page-file-box span{
    text-align: center;
    font-size: var(--font-size-small);
    color: var(--accent-color);
    padding: 10px;
}