#footerMenu.nav-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    height: 300px;
    overflow: auto;
    background: var(--footer-background-color);
    padding: 20px 0;
}

#footerMenu.nav-container ul {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
}

#footerMenu.nav-container ul li {
    margin: 0 10px;
    padding: 5px 0;
}

#footerMenu.nav-container ul li a {
    color: var(--footer-link-color);
    font-size: var(--font-size-small);
    text-decoration: none;
}

#footerMenu.nav-container ul li a:hover {
    color: var(--footer-link-hover-color);
}

#footerMenu.nav-container ul li a:active {
    color: var(--footer-link-color);
}

#footerMenu.nav-container ul li a:visited {
    color: var(--footer-link-color);
}

#footerMenu.nav-container ul li a:focus {
    color: var(--footer-link-hover-color);
}

#footerMenu.nav-container ul li ul {
    display: block;
    width: 100%;
}

#footerMenu.nav-container ul li.menu-item>a {
    display: block;
    padding: 10px 0;
    width: 100%;
    color: var(--footer-link-color);
    font-weight: bold;
    font-size: var(--font-size-small);
}

#footerMenu ul.sub-menu li img {
    width: 5px;
    height: 5px;
    float: left;
    margin-inline-end: var(--spacing-md);
    border-radius: 50%;
    border: var(--border-style) var(--border-width) var(--footer-link-color);
}

#footerMenu ul.sub-menu li a {
    display: flex;
    align-items: center;
}

/* Webkit tabanlı tarayıcılar için */
#footerMenu.nav-container::-webkit-scrollbar {
    width: var(--spacing-md);
    /* Scrollbar genişliği */
}

#footerMenu.nav-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Scrollbar arka plan rengi */
}

#footerMenu.nav-container::-webkit-scrollbar-thumb {
    background: #888;
    /* Scrollbar rengi */
}

#footerMenu.nav-container::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Scrollbar'ın üzerine gelindiğinde rengi */
}

/* Firefox için */
#footerMenu.nav-container {
    scrollbar-width: thin;
    /* Scrollbar genişliği */
    scrollbar-color: #888 #f1f1f1;
    /* Scrollbar rengi ve arka plan rengi */
}

@media (max-width: 992px) {
    #footerMenu.nav-container {
        width: 100%;
        justify-content: flex-start;
        padding-inline-start: var(--spacing-lg);
        overflow: inherit;
        height: auto;
    }

    #footerMenu.nav-container ul li {
        margin: 0 var(--spacing-xs);
        width: 100%;

    }

    #footerMenu.nav-container ul li a {
        font-size: var(--font-size-normal);
        line-height: 30px;
    }

    #footerMenu.nav-container ul li.menu-item>a {
        font-size: var(--font-size-normal);
    }

}