.page-video-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center; justify-content: center;align-items: flex-start; gap: 10px;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 30px;
    margin-top:30px;
}
.page-video-box{
    box-sizing: border-box;
    box-shadow: 0 0 0 1px #ccc;
    padding: 5px; min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--content-bg-color);
    max-width: var(--desktop-max-width);
    margin: 10px 10px;
}
.page-video-box .page-video-title {
    text-align: center;
    line-height: 40px;
    font-size: var(--font-size-large);
    font-weight: bold;
}
.page-video-box .page-video-iframe{
    text-align: center;
    margin-bottom: 20px;
}
